@tailwind base;
@tailwind components;
@tailwind utilities;

.img_front{
    background-image: url("../../public/bg-card-front.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 25rem;
    height: 12.5rem;
}

.img_back{
    background-image: url("../../public/bg-card-back.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 25rem;
    height: 12.5rem;
}
